<div class="modal-header">
    <button ng-click="vm.cancel()" class="close">×</button>
    <h3 class="modal-title" ng-bind="vm.title">Event</h3>
</div>

<div class="modal-body">
    <div class="alert alert-danger" ng-show="vm.error" ng-bind="vm.error"></div>

    <form name="vm.form" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="reference_id">Reference ID</label>
                    <input type="text" class="form-control" id="reference_id" ng-model="vm.event.reference_id"
                           placeholder="Reference to another system"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" ng-model="vm.event.name" required/>
                </div>
            </div>
        </div>

        <fieldset>
            <legend>Schedule</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="schedule_days_of_week">Days of the week</label><br/><br/><br/>
                        <table class="text-justify" style="width: 100%;">
                            <tr>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="vm.schedule_monday" ng-true-value="1"/></td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="vm.schedule_tuesday" ng-true-value="2"/></td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="vm.schedule_wednesday" ng-true-value="4"/></td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="vm.schedule_thursday" ng-true-value="8"/></td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="vm.schedule_friday" ng-true-value="16"/></td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="vm.schedule_saturday" ng-true-value="32"/></td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="vm.schedule_sunday" ng-true-value="64"/></td>
                            </tr>
                            <tfoot>
                            <td class="text-center">Mon</td>
                            <td class="text-center">Tue</td>
                            <td class="text-center">Wed</td>
                            <td class="text-center">Thu</td>
                            <td class="text-center">Fri</td>
                            <td class="text-center">Sat</td>
                            <td class="text-center">Sun</td>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="form-group text-justify" style="width: 100%;">
                        <label>From:</label><br/>
                        <timepicker ng-model="vm.schedule_start_time" hour-step="1" minute-step="15"
                                    show-meridian="false"></timepicker>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="form-group text-justify">
                        <label for="schedule_end_time">To:</label><br/>
                        <timepicker ng-model="vm.schedule_end_time" hour-step="1" minute-step="15"
                                    show-meridian="false"></timepicker>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Trigger conditions</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Beacon(s)</label>
                        <ui-select multiple='true' ng-model="vm.beacons_selected"
                                   theme="select2" ng-disabled="disabled" style="width: 100%">
                            <ui-select-match placeholder="Select beacon(s) or leave empty for all...">
                                {{$item.name}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="beacon in vm.beacons | propsFilter: {name: $select.search, reference_id: $select.search} track by beacon.id">
                                <div ng-bind-html="beacon.name | highlight: $select.search"></div>
                                <small>
                                    {{ beacon.type_display }} with ID: <span
                                        ng-bind-html="beacon.reference_id | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Detector(s)</label>
                        <ui-select multiple='true' ng-model="vm.detectors_selected"
                                   theme="select2" ng-disabled="disabled" style="width: 100%">
                            <ui-select-match placeholder="Select detector(s) or leave empty for all...">
                                {{$item.name}}</ui-select-match>
                            <ui-select-choices
                                    repeat="detector in vm.detectors | propsFilter: {name: $select.search, reference_id: $select.search} track by detector.id">
                                <div ng-bind-html="detector.name | highlight: $select.search"></div>
                                <small>
                                    {{ detector.type_display }} with ID: <span
                                        ng-bind-html="detector.reference_id | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <div class="form-group">
                        <label for="sighting_is_current">Is Sighting Current?</label><br/>
                        <input type="checkbox" id="sighting_is_current" ng-model="vm.event.sighting_is_current"/>
                    </div>
                </div>
                <div class="col-xs-4 col-md-4">
                    <div class="form-group">
                        <label for="sighting_has_comment">Has comment?</label><br/>
                        <input type="checkbox" id="sighting_has_comment" ng-model="vm.event.sighting_has_comment"/>
                    </div>
                </div>
                <div class="col-xs-4 col-md-4">
                    <div class="form-group">
                        <label for="sighting_has_been_confirmed">Was confirmed?</label><br/>
                        <input type="checkbox" id="sighting_has_been_confirmed"
                               ng-model="vm.event.sighting_has_been_confirmed"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <div class="form-group" show-errors>
                        <label for="sighting_duration_in_seconds">Duration (in seconds)</label><br/>
                        <input type="number" class="form-control" name="sighting_duration_in_seconds"
                               ng-model="vm.event.sighting_duration_in_seconds" required/>
                    </div>
                </div>
                <div class="col-xs-4 col-md-4">
                    <div class="form-group" show-errors>
                        <label for="sighting_has_battery_below">Battery below (%)</label><br/>
                        <input type="number" class="form-control" name="sighting_has_battery_below"
                               ng-model="vm.event.sighting_has_battery_below" required/>
                    </div>
                </div>
                <div class="col-xs-4 col-md-4">
                    <div class="form-group" show-errors>
                        <label for="dormant_period_in_seconds">Dormant Period (in seconds)</label><br/>
                        <input type="number" class="form-control" name="dormant_period_in_seconds"
                               ng-model="vm.event.dormant_period_in_seconds" required/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                        <label>Previous Event Ocurrence</label>
                        <ui-select ng-model="vm.event.sighting_previous_event" theme="bootstrap" ng-disabled="disabled">
                            <ui-select-match placeholder="Select or search for an event...">
                                {{ $select.selected.name }}
                            </ui-select-match>
                            <ui-select-choices null-option="vm.nullEventOption" loose-null
                                               repeat="event in vm.events | propsFilter: {name: $select.search, reference_id: $select.search}">
                                <div ng-bind-html="event.name  | highlight: $select.search"></div>
                                <small ng-bind-html="event.reference_id | highlight: $select.search"/>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Actions</legend>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="form-group">
                        <ul rn-carousel rn-carousel-controls rn-carousel-index="vm.actions_index" class="custom-carousel">
                            <li>
                                <div class="col-md-12">
                                    <div class="form-group text-center">
                                        <label>On-Screen Notification</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="action_notification_title">Title</label>
                                        <input type="text" class="form-control" id="action_notification_title"
                                               ng-model="vm.action_notification_title"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="action_notification_category">Category</label>
                                        <ui-select ng-model="vm.action_notification_category" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match>
                                                {{ $select.selected }}
                                            </ui-select-match>
                                            <ui-select-choices repeat="notification_category in vm.notification_categories">
                                                <div ng-bind-html="notification_category  | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="action_notification_timeout">Timeout (in seconds)</label>
                                        <input type="number" class="form-control" id="action_notification_timeout"
                                               ng-model="vm.action_notification_timeout" placeholder="Or leave empty..."/>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="action_notification_message">Message</label>
                                <textarea class="form-control" id="action_notification_message" ng-model="vm.action_notification_message">
                                </textarea>
                                        <small>Note: The following tags can be used: %event_id%, %event_name%, %beacon_id%,
                                            %beacon_name%, %detector_id%, %detector_name%.
                                        </small>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-12">
                                    <div class="form-group text-center">
                                        <label>Send a SMS</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="action_sms_recipients">Recipient(s)</label>
                                        <input type="text" class="form-control" id="action_sms_recipients"
                                               ng-model="vm.action_sms_recipients"
                                               placeholder="Example: +351961230101;+353833210202"/>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="action_sms_message">Message</label>
                                <textarea class="form-control" id="action_sms_message" ng-model="vm.action_sms_message">
                                </textarea>
                                        <small>Note: The following tags can be used: %event_id%, %event_name%, %beacon_id%,
                                            %beacon_name%, %detector_id%, %detector_name%.
                                        </small>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-12">
                                    <div class="form-group text-center">
                                        <label>Send an Email</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="action_email_recipients">Recipient(s)</label>
                                        <input type="text" class="form-control" id="action_email_recipients"
                                               ng-model="vm.action_email_recipients"
                                               placeholder="Example: abc@ivigilate.com;xyz@email.com"/>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="action_email_subject">Subject</label>
                                        <input type="text" class="form-control" id="action_email_subject"
                                               ng-model="vm.action_email_subject"/>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="action_email_body">Body</label>
                                <textarea class="form-control" id="action_email_body"
                                          ng-model="vm.action_email_body">
                                </textarea>
                                        <small>Note: The following tags can be used: %event_id%, %event_name%, %beacon_id%,
                                            %beacon_name%, %detector_id%, %detector_name%.
                                        </small>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-12">
                                    <div class="form-group text-center">
                                        <label>Call a REST webservice</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="action_rest_uris">WebService URI</label>
                                        <input type="text" class="form-control" id="action_rest_uris"
                                               ng-model="vm.action_rest_uris"
                                               placeholder="http://myservername.com/api/dosomething"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="action_rest_method">HTTP Method</label>
                                        <select class="form-control" id="action_rest_method"
                                                ng-model="vm.action_rest_method">
                                            <option value="GET" selected>GET</option>
                                            <option value="POST">POST</option>
                                            <option value="PUT">PUT</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="action_rest_body">Body</label>
                                <textarea class="form-control" id="action_rest_body" ng-model="vm.action_rest_body">
                                </textarea>
                                        <small>Note: The following tags can be used: %event_id%, %event_name%, %beacon_id%,
                                            %beacon_name%, %detector_id%, %detector_name%.
                                        </small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="custom-carousel-indicator" rn-carousel-indicators slides="[{},{},{},{}]"
                             rn-carousel-index="vm.actions_index"></div>
                        <div class="text-center">
                            <small>(swipe left or right to configure available actions)</small>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <button ng-click="vm.cancel()" class="btn btn-default">Cancel</button>
    <button ng-click="vm.destroy()" ng-if="vm.is_edit" class="btn btn-danger">Delete</button>
    <button ng-click="vm.save()" class="btn btn-primary">Save</button>
</div>