<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>Events</h1>

        <div class="well">
            <div class="alert alert-danger" ng-show="vm.error" ng-bind="vm.error"></div>

            <div class="table-responsive">
                <table st-table="vm.displayedEvents" st-safe-src="vm.events" class="table table-striped">
                    <thead>
                    <tr>
                        <th st-sort="reference_id">Reference ID</th>
                        <th st-sort="name" st-sort-default="True">Name</th>
                        <th st-sort="schedule_days_of_week_string">Days of week</th>
                        <th st-sort="schedule_start_time">Start Time</th>
                        <th st-sort="schedule_end_time">End Time</th>
                        <th st-sort="is_active">Active?</th>
                        <th class="text-right">
                            <button ng-click="vm.addEvent()" class="btn btn-sm btn-success">
                                <span class="glyphicon glyphicon-plus"></span> Add
                            </button>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="7">
                            <input st-search placeholder="Global Search" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="event in vm.displayedEvents">
                        <td>{{ event.reference_id }}</td>
                        <td>{{ event.name }}</td>
                        <td>{{ event.schedule_days_of_week_string }}</td>
                        <td>{{ event.schedule_start_time | limitTo:5 }}</td>
                        <td>{{ event.schedule_end_time | limitTo:5 }}</td>
                        <td>
                            <input type="checkbox" ng-model="event.is_active" ng-click="vm.updateEventState(event)">
                        </td>
                        <td class="text-center">
                            <a ng-click="vm.editEvent(event)">Edit</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>