<div class="modal-header">
    <button ng-click="vm.cancel()" class="close">×</button>
    <h3 class="modal-title">Detector</h3>
</div>

<div class="modal-body">
    <div class="alert alert-danger" ng-show="vm.error" ng-bind="vm.error"></div>

    <form name="vm.form" novalidate>
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label for="uid">Unique ID</label>
                    <input type="text" class="form-control" name="uid" ng-model="vm.detector.uid" disabled/>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-group">
                    <label for="reference_id">Reference ID</label>
                    <input type="text" class="form-control" name="reference_id" ng-model="vm.detector.reference_id"
                           placeholder="Reference to another system"/>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group" show-errors>
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" ng-model="vm.detector.name" required/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label>Type</label>
                    <select name="type" ng-model="vm.detector.type" class="form-control">
                        <option value="M">Movable</option>
                        <option value="F">Fixed</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-group" show-errors>
                    <label for="arrival_rssi">Arrival Proximity</label>
                    <input type="number" class="form-control" name="arrival_rssi" ng-model="vm.detector.arrival_rssi"
                           placeholder="Default is -75" required/>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="form-group" show-errors>
                    <label for="departure_rssi">Departure Proximity</label>
                    <input type="number" class="form-control" name="departure_rssi" ng-model="vm.detector.departure_rssi"
                           placeholder="Default is -90" required/>
                </div>
            </div>
        </div>
    </form>

    <div class="form-group" ng-if="vm.showMap">
        <script type="text/ng-template" id="searchbox.tpl.html">
            <input type="text" class="angular-google-map-searchbox" placeholder="Search Box">
        </script>
        <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom">
            <ui-gmap-search-box template="vm.searchbox.template"
                                events="vm.searchbox.events"></ui-gmap-search-box>
            <ui-gmap-marker idKey="vm.marker.id" coords="vm.marker.coords" options="vm.marker.options"
                            events="vm.marker.events"></ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</div>

<div class="modal-footer">
    <button ng-click="vm.cancel()" class="btn btn-default">Cancel</button>
    <button ng-click="vm.save()" class="btn btn-primary">Save</button>
</div>
