{% load compress %}
{% load staticfiles %}

{% compress js %}
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/underscore.string/dist/underscore.string.js' %}"></script>

    <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-sanitize/angular-sanitize.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-translate/angular-translate.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-dialog-service/dist/dialogs.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-relative-date/angular-relative-date.js' %}"></script>

    <script type="text/javascript" src="{% static 'bower_components/lodash/dist/lodash.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/ng-lodash/build/ng-lodash.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-google-maps/dist/angular-google-maps.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-smart-table/dist/smart-table.js' %}"></script>

    <script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/ng-password-strength/dist/scripts/ng-password-strength.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/ivigilate.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ivigilate.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ivigilate.routes.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/settings/settings.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/settings/services/settings.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/settings/controllers/settings.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/places/places.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/places/services/places.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/places/controllers/places.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/places/controllers/place.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/sightings/sightings.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/sightings/services/sightings.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/sightings/services/movables.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/sightings/controllers/sightings.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/sightings/controllers/addSighting.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/sightings/controllers/editSighting.controller.js' %}"></script>
{% endcompress %}