{% load compress %}
{% load staticfiles %}

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
{% compress js %}
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/underscore.string/dist/underscore.string.js' %}"></script>

    <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-sanitize/angular-sanitize.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-translate/angular-translate.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-bootstrap-show-errors/src/showErrors.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-toggle-switch/angular-toggle-switch.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-dialog-service/dist/dialogs.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-relative-date/angular-relative-date.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-ui-select/dist/select.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-touch/angular-touch.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-carousel/dist/angular-carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-stripe/release/angular-stripe.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-credit-cards/release/angular-credit-cards.js' %}"></script>

    <script type="text/javascript" src="{% static 'bower_components/lodash/dist/lodash.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/ng-lodash/build/ng-lodash.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-google-maps/dist/angular-google-maps.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-smart-table/dist/smart-table.js' %}"></script>

    <script type="text/javascript" src="{% static 'bower_components/ng-password-strength/dist/scripts/ng-password-strength.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/ng-file-upload/angular-file-upload-shim.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/ng-file-upload/angular-file-upload.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/ivigilate.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ivigilate.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ivigilate.filters.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/ivigilate.routes.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/payments/payments.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/payments/services/payments.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/payments/controllers/payment.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/users/users.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/users/services/users.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/users/controllers/users.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/sightings/sightings.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/sightings/services/sightings.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/sightings/controllers/sightings.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/sightings/controllers/addsighting.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/sightings/controllers/editsighting.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/events/events.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/events/services/events.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/events/controllers/events.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/events/controllers/addeditevent.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/beacons/beacons.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/beacons/services/beacons.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/beacons/controllers/beacons.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/beacons/controllers/editbeacon.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/places/places.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/places/services/places.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/places/controllers/places.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/places/controllers/editplace.controller.js' %}"></script>
{% endcompress %}