{% load compress %}
{% load staticfiles %}

{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-ui-select/dist/select.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/selectize/dist/css/selectize.default.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/styles.css' %}"/>
{% endcompress %}