<div class="modal-header">
    <button ng-click="vm.cancel()" class="close">×</button>
    <h3 class="modal-title">New Sighting</h3>
</div>

<div class="modal-body">
    <div class="alert alert-danger" ng-show="vm.error" ng-bind="vm.error"></div>

    <form name="vm.form" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Which beacon was detected?</label>
                    <ui-select ng-model="vm.beacon" theme="selectize" ng-disabled="disabled" required>
                        <ui-select-match placeholder="Select a beacon from the list...">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="beacon in vm.beacons | propsFilter: {name: $select.search, reference_id: $select.search}">
                            <div ng-bind-html="beacon.name  | highlight: $select.search"></div>
                            <small>
                                {{ beacon.type_display }} Beacon with ID: <span ng-bind-html="beacon.reference_id"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>By which detector?</label>
                    <ui-select ng-model="vm.detector" theme="selectize" ng-disabled="disabled" required>
                        <ui-select-match placeholder="Select a detector from the list...">
                            {{ $select.selected.name }}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="detector in vm.detectors | propsFilter: {name: $select.search, reference_id: $select.search}">
                            <div ng-bind-html="detector.name | highlight: $select.search"></div>
                            <small>
                                {{ detector.type_display }} Detector with ID: <span ng-bind-html="detector.reference_id"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="seen_at">When and at what time?</label>

                <div class="input-group" show-errors>
                    <input type="text" name="seen_at" class="form-control" datetime-picker="yyyy-MM-dd HH:mm"
                           show-button-bar="false" max-date="vm.max_date"
                           datepicker-options="vm.date_options" timepicker-options="vm.time_options"
                           ng-model="vm.seen_at" is-open="vm.seen_at_is_open" placeholder="YYYY-MM-DD HH:MM" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="vm.openDateTimePicker($event, 'seen_at_is_open')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                </div>
            </div>
            <div class="col-md-6">
                <label for="duration">For how long?</label>

                <div class="input-group" show-errors>
                    <input type="text" name="duration" class="form-control"  datetime-picker="HH:mm"
                           show-button-bar="false" enable-date="false" timepicker-options="vm.time_options"
                           ng-model="vm.duration" is-open="vm.duration_is_open" placeholder="HH:MM" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="vm.openDateTimePicker($event, 'duration_is_open')"><i class="glyphicon glyphicon-time"></i></button>
                        </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top: 1em;">
                <div class="form-group" show-errors>
                    <label for="comment">Comment</label>
                    <textarea type="text" class="form-control" name="comment" ng-model="vm.comment" required/>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button ng-click="vm.cancel()" class="btn btn-default">Cancel</button>
    <button ng-click="vm.save()" class="btn btn-primary">Save</button>
</div>

