<div class="row">
    <div class="col-md-12">
        <h1>Sightings</h1>

        <div class="well">
            <div class="alert alert-danger" ng-show="vm.error" ng-bind="vm.error"></div>
            <div class="row">
                <div class="col-md-3">
                    <label for="filterStartDate">Start Date</label>

                    <div class="input-group">
                        <input type="text" name="filterStartDate" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                               datepicker-options="vm.datepickerOptions" max-date="vm.filterEndDate"
                               show-button-bar="false"
                               is-open="vm.filterDateIsOpen" ng-model="vm.filterStartDate" placeholder="YYYY-MM-DD"
                               readonly/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="vm.openDatePicker($event, 'filterDateIsOpen')">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="filterDate">End Date</label>

                    <div class="input-group">
                        <input type="text" name="filterEndDate" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                               datepicker-options="vm.datepickerOptions" min-date="vm.filterStartDate"
                               max-date="vm.filterDateMax"
                               show-button-bar="false" n
                               is-open="vm.filterEndDateIsOpen" ng-model="vm.filterEndDate" placeholder="YYYY-MM-DD"
                               readonly/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="vm.openDatePicker($event, 'filterEndDateIsOpen')">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Beacon or Detector</label>
                        <ui-select ng-model="vm.filterBeaconOrDetector" theme="selectize" ng-disabled="disabled">
                            <ui-select-match placeholder="Select a device from the list...">
                                <a style="margin-right: 10px" ng-click="vm.resetValue($event)"
                                   class="btn btn-xs pull-right"><span class="glyphicon glyphicon-remove"
                                                                       aria-hidden="true"></span></a>
                                {{ $select.selected.name }}
                            </ui-select-match>

                            <ui-select-choices allow-clear="true"
                                               repeat="beaconOrDetector in vm.beaconsOrDetectors | propsFilter: {name: $select.search, uid: $select.search}">
                                <div ng-bind-html="beaconOrDetector.name  | highlight: $select.search"></div>
                                <small>
                                    {{ beaconOrDetector.kind }} with ID: <span
                                        ng-bind-html="beaconOrDetector.uid"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                </div>

            </div>

            <div class="table-responsive">
                <table st-table="vm.displayedSightings" st-safe-src="vm.sightings" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Photo</th>
                        <th st-sort="beacon.reference_id">Beacon ID</th>
                        <th st-sort="beacon.name">Name</th>
                        <th st-sort="first_seen_at">First Seen</th>
                        <th st-sort="last_seen_at" st-sort-default="reverse">Last Seen</th>
                        <th st-sort="detector.reference_id">Detector ID</th>
                        <th st-sort="detector.name">Name</th>
                        <th class="text-center" st-sort="rssi">RSSI</th>
                        <th class="text-center" st-sort="battery">Battery</th>
                        <th class="text-center" st-sort="confirmed">Confirmed</th>
                        <th class="text-right">
                            <button ng-click="vm.addSighting()" class="btn btn-sm btn-success">
                                <span class="glyphicon glyphicon-plus"></span> Add
                            </button>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="12">
                            <input st-search placeholder="Global Search" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sighting in vm.displayedSightings">

                        <td style="height:56px">
                            <img height="40px"
                                 ng-src="{{ sighting.beacon.photo }}"
                                 ng-if="sighting.beacon.photo"/>
                        </td>
                        <td class="valign-middle">
                            <a ng-if="!sighting.beacon.reference_id"
                               ng-click="vm.editBeacon(sighting.beacon)">
                                {{ sighting.beacon.uid.length <= 10 ? sighting.beacon.uid :
                                        sighting.beacon.uid.substring(0, 3) + '...' + sighting.beacon.uid.substring(sighting.beacon.uid.length - 3) }}</a>
                            <span ng-if="!!sighting.beacon.reference_id"
                                  ng-click="vm.editBeacon(sighting.beacon)">{{ sighting.beacon.reference_id }}</span>
                        </td>
                        <td class="valign-middle">
                            {{ sighting.beacon.name }}
                        </td>
                        <td class="valign-middle">
                            {{ sighting.first_seen_at | date:'yyyy-MM-dd HH:mm:ss' }}
                        </td>
                        <td class="valign-middle">
                            {{ sighting.last_seen_at | date:'yyyy-MM-dd HH:mm:ss' }}
                        </td>
                        <td class="valign-middle">
                            <a ng-if="!sighting.detector.reference_id"
                               ng-click="vm.editDetector(sighting.detector)">
                                {{ sighting.detector.uid.length <= 10 ? sighting.detector.uid :
                                        sighting.detector.uid.substring(0, 3) + '...' + sighting.detector.uid.substring(sighting.detector.uid.length - 3) }}</a>
                            <span ng-if="!!sighting.detector.reference_id"
                                  ng-click="vm.editDetector(sighting.detector)">{{ sighting.detector.reference_id }}</span>
                        </td>
                        <td class="valign-middle">
                            {{ sighting.detector.name }}
                        </td>
                        <td class="valign-middle text-center">
                            {{ sighting.rssi || 'N/A' }}
                        </td>
                        <td class="valign-middle text-center">
                            {{ sighting.beacon_battery || 'N/A' }}
                        </td>
                        <td class="valign-middle text-center">
                            <input type="checkbox" ng-model="sighting.confirmed"
                                   ng-click="vm.confirmSighting(sighting)">
                        </td>
                        <td class="valign-middle text-center">
                            <a ng-click="vm.editSighting(sighting)">Edit</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="10" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>