<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>Latest Sightings</h1>

        <div class="well">
            <div class="alert alert-danger" ng-show="vm.error" ng-bind="vm.error"></div>
            <div class="row">
                <div class="col-md-3">
                    <label for="filterDate">Date</label>

                    <div class="input-group">
                        <input type="text" name="filterDate" class="form-control" datepicker-popup="yyyy-MM-dd"
                               datepicker-options="vm.datepickerOptions" max-date="vm.filterDateMax"
                               show-button-bar="false"
                               is-open="vm.filterDateIsOpen" ng-model="vm.filterDate" placeholder="YYYY-MM-DD"
                               readonly/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="vm.openDatePicker($event, 'filterDateIsOpen')">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="filterFixedBeaconsAndDetectors">Seen at / by</label>

                    <div class="form-group">
                        <ui-select multiple ng-model="vm.filterFixedBeaconsAndDetectors" theme="select2" ng-disabled="disabled" style="width: 100%">
                            <ui-select-match placeholder="Select fixed beacon(s) or detector(s)...">{{$item.name}}</ui-select-match>
                            <ui-select-choices
                                    repeat="fixedBeaconOrDetector in vm.fixedBeaconsAndDetectors | propsFilter: {name: $select.search, reference_id: $select.search}">
                                <div ng-bind-html="fixedBeaconOrDetector.name | highlight: $select.search"></div>
                                <small>
                                    {{ fixedBeaconOrDetector.kind }} with ID: <span ng-bind-html="fixedBeaconOrDetector.reference_id"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="filterShowAll">Show All</label>

                    <div class="form-group">
                        <toggle-switch id="filterShowAll" ng-model="vm.filterShowAll" class="bootstrap-switch-small"></toggle-switch>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table st-table="vm.displayedSightings" st-safe-src="vm.sightings" class="table table-striped">
                    <thead>
                    <tr>
                        <th st-sort="satisfyFilter" st-sort-default="true"><span
                                class="glyphicon glyphicon-eye-open"></span></th>
                        <th>Photo</th>
                        <th st-sort="beacon.reference_id">ID</th>
                        <th st-sort="beacon.name">Name</th>
                        <th st-sort="last_seen_at">Last Seen</th>
                        <th class="text-center" st-sort="battery">Battery</th>
                        <th st-sort="comment">Comment</th>
                        <th class="text-center" st-sort="confirmed">Confirmed</th>
                        <th class="text-right">
                            <button ng-click="vm.addSighting()" class="btn btn-sm btn-success">
                                <span class="glyphicon glyphicon-plus"></span> Add
                            </button>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="9">
                            <input st-search placeholder="Global Search" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sighting in vm.displayedSightings"
                        ng-class="{'danger': !sighting.satisfyFilter}">
                        <td class="valign-middle text-center"></td>
                        <td style="height:56px">
                            <img height="40px"
                                 ng-src="{{ sighting.beacon.type == 'F' ?
                                         sighting.detector.photo :
                                         sighting.beacon.photo }}"
                                 ng-if="sighting.beacon.type == 'F' ?
                                    sighting.detector.photo :
                                    sighting.beacon.photo"/>
                        </td>
                        <td class="valign-middle">
                            {{ sighting.beacon.type == 'F' ?
                                    sighting.detector.reference_id || sighting.detector.uid :
                                    sighting.beacon.reference_id || sighting.beacon.uid }}
                        </td>
                        <td class="valign-middle">
                            {{ sighting.beacon.type == 'F' ?
                                    sighting.detector.name :
                                    sighting.beacon.name }}
                        </td>
                        <td class="valign-middle">
                            {{ sighting.last_seen_at | relativeDate }}
                            {{ sighting.beacon.type == 'F' ?
                                    'at' :
                                    'by' }}
                            {{ sighting.beacon.type == 'F' ?
                                    sighting.beacon.name :
                                    sighting.detector.name }}
                        </td>
                        <td class="valign-middle text-center">
                            {{ sighting.battery || 'N/A' }}
                        </td>
                        <td class="valign-middle">
                            {{ sighting.comment }}
                        </td>
                        <td class="valign-middle text-center">
                            <input type="checkbox" ng-model="sighting.confirmed" ng-click="vm.confirmSighting(sighting)">
                        </td>
                        <td class="valign-middle text-center">
                            <a ng-click="vm.editSighting(sighting)">Edit</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>